<nav>
  <div class="container-fluid">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a href="/" class="nav-link"><button class="btn btn-info">Home</button></a>
      </li>
      <li class="nav-item">
        <a href="/tasks" class="nav-link"><button class="btn btn-info">Tasks</button></a>
      </li>
      <li class="nav-item">
        <a href="/checklists" class="nav-link"><button class="btn-info btn">Checklists</button></a>
      </li>
    </ul>
  </div>
</nav>