<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
    <title>Checklist</title>
</head>
<body>
    <div class="container">
        <header class="row justify-content-center">
                <%- include("../partials/nav.ejs") %>
            <h1 class="text-center">Checklists</h1>
        </header>
    </div>
    <div class="container-fluid">
        <main>
            <ul>
                <li>
                    <a href="/checklists/new">Create A New Checklist</a>
                </li>
            </ul>
            <h2>List of Checklists</h2>
            <ul>
                <% for( let i = 0; i < checklists.length; i++) { %>
                    <li>
                        <a href="/checklists/<%=checklists[i]._id%>"><%=checklists[i].title%></a>
                    </li>
                <% } %>
            </ul>

        </main>
    </div>
</body>
</html>