<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
    <title><%=checklist.name%></title>
</head>
<body>
    <header>
            <%- include("../partials/nav.ejs") %>
        <h1><%=checklist.name%></h1>
    </header>
    <main>
        <p>this will show the item in the currently shown checklist</p>
        <p>there should be the ability here to add a new item to the checklist... this can be achieved by pushing to the already existing array</p>
        <p>so in mongoose it looks like {name: "name of checklist", <br> items: [item 1, item 2, item 3...]}</p>
        <p>better yet would have the items looking like items: [{name: "name of task", priority: priority of task}, {name: "name of task 2", proirity: priority level}]</p>
    </main>
    <footer>
        <h4>Dev Notes</h4>
        <p>
            The show page will allow a user to make more detailed notes for the items in their checklist. This is where they view a checklist... maybe it pops out... show you have a list of your lists, then when you click on one in displays in that page - was there a better way to use hidden pages then the one I had figured out?
        </p>
    </footer>
</body>
</html>