<!DOCTYPE html>
<html lang="en">
<head>
    <title>New Task</title>
    <%- include("../partials/head.ejs") %>
</head>
<body>
    <header>
        <%- include("../partials/nav.ejs") %>
        <h1 class="text-center">New Task</h1>
    </header>
    <div class="container">
        
        <main>
            <form action="/tasks" method="POST" class="row justify-content-center">
                <div class="row">
                    <label for="taskName">Name</label>
                    <input type="text" name="name" id="taskName" class="form-control" /><br>
                </div>
                <div class="row">
                    <label for="taskDate">Date</label>
                    <input type="text" name="date" id="taskDate" class="form-control" /><br>
                </div>
                <div class="row">
                    <label for="taskDetails">Details</label>
                    <input type="text" name="details" id="taskDetails" class="form-control" /><br>
                </div>
                <div class="row">
                    <label for="taskCategory">Category</label>
                    <input type="text" name="category" id="taskCategory" class="form-control" /><br>
                </div>
                <div class="row">
                    <label for="taskTags">Tags</label>
                    <input type="text" name="tags" id="taskTags" class="form-control" /><br>
                </div>
                <div class="row g-4">
                    <div class="col-auto">
                        <input type="submit" value="Add Task" class="btn btn-primary">
                    </div>
                </div>

                    
            </form>
        </main>
    </div>
</body>
</html>